body{
  margin: 0px;
}
.container{
  text-align: center;
}

form{
  width: 300px;
  margin: auto;
  text-align: left;
  font-size: 20px;
}

form input{
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}