body{
  margin: 0px;
}
.container{
  text-align: center;
}

form{
  width: 300px;
  margin: auto;
  text-align: left;
  font-size: 20px;
}

form input{
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.signup_bt{
  border: 1px solid #9b9b9b;
  box-sizing: border-box;
  display: block;
  width: 300px;
  height: 30px;
  text-align: center;
  background-color: #eae9e9;
  text-decoration: none;
  color: #000;
  line-height: 26px;
  border-radius: 4px;
}